Your Request  for <%= @book.book.name %> is approved
===============================================

User Details
===============================================


Name: <%= @book.user.name %></p>
Email: <%= @book.user.email %></p>
Address: <%= @book.user.address %></p>


Book Details 
===============================================
Name: <%= @book.book.name %></p>
Email: <%= @book.issue_date %></p>
Address: <%= @book.return_date %></p>
